includes:
  - tools/phpstan/extension.neon

parameters:
  level: max
  paths:
    - src
    - tests
    - docs/tutorial/src
  excludePaths:
    - tests/Fake/*
    - tests/tmp/*
    - src/MediaQueryModule.php
  rayMediaQuery:
    sqlDirectories:
      - %currentWorkingDirectory%/docs/tutorial/src/sql
    factoryMethod: factory
